<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuDoku Project</title>
    <!--<link rel="stylesheet" href="style.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Gotu">    
</head>
<body>
    <div id="container">

        </div>

    <div class="row">
        <div class="column">


        </div>
        <div class="column">
          <div id="jsGame">
            <h1>SuDoKu</h1>

            <table id="gameBoard"></table>
            <br>
            <div id="messageBox"></div>
            <h1 id="theEndMessageH1"><div id="theEndMessage"></div></h1>
            <script type="text/javascript" src="{{ url_for('static', filename= 'game.pretty.js') }}"></script>
            <!--<script type="text/javascript" src="game.pretty.js"></script>-->
        </div>
        </div>
        <div class="column">
            <div class="lower">
          <h1 id="right">Buttons</h1>
          <div class="buttons">
            <button onclick="isBoardValidAPICheck()">Submit</button>
            <button onclick="setSolveBoard();">Solve for Me</button>
            <button onclick="setDarkMode();">Dark/Light mode</button>
            <button onclick="setBoardMain(60);" style="background-color:rgb(30, 223, 12)">Easy</button>
            <button onclick="setBoardMain(50);" style="background-color:rgb(223, 184, 12)">Medium</button>
            <button onclick="setBoardMain(40);" style="background-color:rgb(223, 54, 12)">Hard</button>
            <button onclick="window.location.href='/tutorial'">Tutorial</button>

            <!-- Yes this way is faster but button doesn't load it if clicked to rapidly.-->
            <!--<button onclick="newBoard();">Next Puzzle</button>-->

            
        </div>
    <p class="centerText">
        To play simply put click corresponding cell on the grid<br> and press desired 1..9 number on your keyboard<br>
    </p>
    <p class="centerText" style="color: red;">
        You do not need to complete the game<br> to search for solutions!
    </p>
    </div>
    </div>
      </div>

</body>
</html>